/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  
}

h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  /* 1 */
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}
body {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans",sans-serif;
  background-color: #ffffff;
  color: black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*END RESETS*/

/* NEW CSS */
.section {
  width: 1170px;
}

@media screen and (max-width: 1360px) {
  .welcome__text {
    margin-left: 7vw !important;
  }
  
  .welcome__text h1 {
    font-weight: 800;
    line-height: 1.2em;
    font-size: 1.5rem !important;
    margin: 0;
  }

  .welcome__text p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem !important;
    line-height: 1.5em;
  }
}
